<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="BOX_3"
			 connectionString=
			 "Server=92.63.70.72,1433;
			 Database=BOX_3;
			 User id=appUser;
			 Password=1234;"
			 />
	</connectionStrings>
</configuration>